body {
    margin: 0px;
    padding: 0px;
    background-color: rgba(76, 137, 138, 1);
    color:rgba(236, 71, 12, 1);
    font-size: 15px;
}
#intro {
    width: fit-content;
    height:fit-content;
    background-color:rgba(114, 204, 206, 1);
    color:rgb(255, 106, 52);
    margin-top: .5em;
    margin-bottom: .5em;
    padding: 1em;
    flex: 1;
    border-radius: .5em;
}